local.settings.json
C:\Users\deepak.k.a.singh\Documents\Projects\Trainings\MyProjects\Resume-on-Azure\backend\api\local.settings.json
backend\api\local.settings.json

C:\Users\deepak.k.a.singh\Documents\Projects\Trainings\MyProjects\Resume-on-Azure\backend\tests\bin\Debug\net8.0\local.settings.json
backend\tests\bin\Debug\net8.0\local.settings.json